grpcio
h5py
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
numpy
pandas==2.0.3
Pillow
protobuf
pyparsing
python-dateutil
PyYAML
scipy
six==1.12.0
tensorboard
tensorflow==2.16.1
tensorflow-estimator
termcolor==1.1.0
Werkzeug
wrapt
python-binance 
flask-cors 
flask 
flask_restful 
python-dotenv 
mplfinance